# Ignore everything
*
*/
Title_Base/Library/*

# Inverse ignore some stuff
!Assets/
!ProjectSettings/
!.gitignore
!Art Assets/
!Zero Prototype/
!GameDocuments/

# OS Stuff
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
Desktop.ini
Title_Base/Library/metadata/00/00000000000000001000000000000000
Title_Base/Library/metadata/73/739bbd9f364b4268874f9fd86ab3beef
Title_Base/Library/metadata/85/852e56802eb941638acbb491814497b0
Title_Base/Library/metadata/97/97decbdab0634cdd991f8d23ddf0dead
Title_Base/Library/ProjectSettings.asset
Title_Base/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Title_Base/Library/*
Title_Base/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Title_Base/Assets/Scenes/PlayerStreet.unity
*.asset
*.stamp
Title_Base/ProjectSettings/ProjectSettings.asset
*.unity
Title_Base/Library/ScriptAssemblies/BuiltinAssemblies.stamp
*.unity
Title_Base/Assets/Scenes/Player_House.unity
*.asset
Title_Base/Library/ScriptAssemblies/BuiltinAssemblies.stamp
*.asset
*.unity
*.unity
Title_Base/Assets/Scenes/Player_House.unity
Title_Base/Assets/Scenes/Player_House.unity
Title_Base/Library/metadata/f5/f5f67c52d1564df4a8936ccd202a3bd8
Title_Base/Library/metadata/87/870353891bb340e2b2a9c8707e7419ba
