# Ignore everything

Title_Base/Library/*


# Inverse ignore some stuff


# OS Stuff
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
Desktop.ini


Title_Base/Assets/Scenes/Player_House.unity
Title_Base/Assets/Scenes/Player_House.unity
Title_Base/obj/
Title_Base/Library/
Title_Base/Temp/
Title_Base/.vs/

!Title_Base/Assets/*
!ProjectSettings/
!.gitignore

*.csproj
*.sln
*.orig
*.userprefs
/Title_Base/Assets/ArtAssets/Items/GardenHose/Real/*.ini
